@model List<Movie.API.Models.MovieModel>  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <title>Movies</title>
</head>
<body>
<div class="hero"> 
    <h1>Discover the World of Movies!</h1>

    <a href="/Movies" class="btn">View All Movies</a>
</div>
</body>
</html>